<div class="newform">
  <div class="inner cover">
      <form action="/meeting/new" method="POST">
        Title:
        <input type="text" name="meeting[title]" placeholder="Meeting Title"><br>
        Description:
        <textarea type="text" name="meeting[description]" placeholder="Meeting Description"></textarea><br>
        Participants:
        <input type="text" name="participant" placeholder="Enter participants"><br><br>
        <input class="button" type="submit" value="Start Meeting">
      </form>
  </div>
</div>
